Source: ether-ip
Section: devel
Priority: extra
Maintainer: Ralph Lange <rlange@bnl.gov>, Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7),
               epics-dev (>= 3.14.11-2),
               epics-msi,
Standards-Version: 3.8.0
Homepage: http://ics-web.sns.ornl.gov/kasemir/etherip/


Package: libether-ip2.24
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EPICS Driver for AB ControlLogix 5000 PLCs via EtherNet/IP
 EPICS Driver/Device Support module that interfaces
 Allen Bradley ControlLogix 5000 PLCs and maybe also
 Compact Logix devices (see www.ab.com) via Ethernet
 to EPICS IOCs.
 .
 This package provides shared libraries.

Package: epics-ether-ip-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libether-ip2.24 (= ${binary:Version}),
Description: EPICS Driver for AB ControlLogix 5000 PLCs via EtherNet/IP
 EPICS Driver/Device Support module that interfaces
 Allen Bradley ControlLogix 5000 PLCs and maybe also
 Compact Logix devices (see www.ab.com) via Ethernet
 to EPICS IOCs.
 .
 This package provides files needed to build an
 IOC with the ether-ip support.
